[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-autoformat"]
	path = vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-glsl"]
	path = vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/bundle/vim-react-snippets"]
	path = vim/bundle/vim-react-snippets
	url = https://github.com/epilande/vim-react-snippets
[submodule "vim/bundle/vim-es2015-snippets"]
	path = vim/bundle/vim-es2015-snippets
	url = https://github.com/epilande/vim-es2015-snippets
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
